{% if _batch_actions is not null %}
    <div class="batch-actions">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-title="{{ 'Actions' | trans(_trans_parameters, _translation_domain) }}">
                <span>{{ 'actions' | trans(_trans_parameters, _translation_domain) }}</span>
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                {% for action in _batch_actions %}
                    <li><a href="#" class="{{ action.css_class|default('') }}" data-action="{{action.name}}">
                        {%- if action.icon %}<i class="fa fa-{{ action.icon }}"></i> {% endif -%}
                        {%- if action.label is defined and not action.label is empty -%}
                            {{ action.label|trans(arguments = _trans_parameters, domain = _translation_domain) }}
                        {%- endif -%}
                    </a></li>
                {% endfor %}
            </ul>
        </div>

        <a href="#" class="btn btn-primary btn-batch-submit">{{ 'action.confirm' | trans(_trans_parameters, _translation_domain) }}</a>

        {% set query = (_request_parameters.query is defined ? '&query=' ~ _request_parameters.query : '') %}

        {{
            form(batch_form, {
                action: batch_form.vars.action ~ query ~ '&referer=' ~ referer,
                attr: { id: 'batch-form', style: 'display: none' }
            })
        }}

        <div id="modal-batch" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>{{ 'batch_modal.title'|trans(_trans_parameters, _translation_domain) }}</h4>
                        <p>{{ 'batch_modal.content'|trans(_trans_parameters, _translation_domain) }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn">
                            {{ 'action.cancel'|trans(_trans_parameters, _translation_domain) }}
                        </button>

                        <button type="button" data-dismiss="modal" class="btn btn-primary" id="modal-batch-button" formtarget="">
                            {{ 'action.confirm'|trans(_trans_parameters, _translation_domain) }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script type="text/javascript">
    $.fn.batchActions = function() {
        var $batchAll = $('.batch-all input[type="checkbox"]');
        var $batchCheckboxList = $('.batch input[type="checkbox"]');
        var $dropdownToggle = this.find('.dropdown-toggle');
        var $btn = this.find('.btn-batch-submit');
        var $actions = this.find('.dropdown-menu a');
        var $modalBatch = $('#modal-batch');
        var $modalBatchBtn = $('#modal-batch-button');
        var $batchForm = $('#batch-form');

        $dropdownToggle.attr('disabled', 'disabled');
        $btn.attr('disabled', 'disabled');

        // Handle Dropdown UX
        $batchAll.add($batchCheckboxList).on('change', function(evt) {
            $actions.off('click');
            if ($batchAll.add($batchCheckboxList).is(':checked')) {
                $dropdownToggle.removeAttr('disabled');
                $actions.on('click', function(actionClickEvent) {
                    actionClickEvent.preventDefault();
                    var $target = $(actionClickEvent.currentTarget);
                    $dropdownToggle.find('span').text($target.text());
                    $btn.removeAttr('disabled');

                    $btn.off('click').on('click', function(submitEvent) {
                        submitEvent.preventDefault();
                        $modalBatch.modal({ backdrop: true, keyboard: true })
                            .off('click', '#modal-batch-button')
                            .on('click', '#modal-batch-button', function () {
                                // to understand what should be done
                                var idList
                                if ($batchAll.is(':checked')) {
                                    idList = 'all'
                                } else {
                                    idList = [];
                                    $batchCheckboxList.filter(':checked').each(function(idx, el) {
                                        idList.push($(el).val());
                                    });
                                }
                                $batchForm.attr('action', $batchForm.attr('action').replace('__id__', idList).replace('__action__', $target.data('action')));
                                $batchForm.trigger('submit');
                            });
                    });
                });

            } else {
                $dropdownToggle.find('span').text($dropdownToggle.data('title'));
                $dropdownToggle.attr('disabled', 'disabled');
                $btn.attr('disabled', 'disabled').off('click');
            }
        });

        return this;
    };

    $(document).ready(function() {
        $('.batch-actions').batchActions();
    });
    </script>
{% endif %}


